<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
    <div class="cart">
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
      <!-- <a [routerLink]="['user', user.id]"> Example of dynamic url for {{user.id}} </a> -->
      <!-- <a routerLink="{{'/user/' + user.id}}"> Example with string interpolation </a> -->
       <!-- routerLinkActive makes .active css style to be applied when such route is active -->
    </div>
  </div>
  <div class="right" *ngIf="!user"> <!-- if user is false, show registration-->
    <a routerLink="/sign-in">Sign In</a>
    <a routerLink="" class="cta">Register</a>
  </div>
  <div class="right" *ngIf="user"> <!-- if user is true, show profile icon-->
    <div>
      <img src="/assets/images/profile.png" (click)="toggleSignOut()" alt="profile"> <!-- if clicked, flip boolean for sign out to true -->
      <div class="sign-out" *ngIf="showSignOutMenu"> <!-- if boolean true, show sigout btn -->
        <button (click)="signOut()">Sign out</button>
      </div>
    </div>
  </div>
</div>
