<bot-site-header></bot-site-header>
<router-outlet></router-outlet>

<!-- 
Routing Configuration: You define routes in your Angular application using the RouterModule in a routing module (e.g., app-routing.module.ts). Each route maps a URL path to a specific component.
Router Outlet: The <router-outlet> directive in your template serves as a placeholder where the routed component will be displayed.
Navigation: When the user navigates to a URL, Angular matches the URL to a route and displays the corresponding component in the <router-outlet>. 
-->

<!-- <bot-home></bot-home> -->
<!-- <bot-catalog></bot-catalog> -->
<!-- <bot-cart></bot-cart> -->
