<div class="container">
  <div class="filters">
    <!-- click event in html and binding of data from html down to parent as a filter value -->
    <a class="button" (click)="filter = 'Heads'">Heads</a>
    <a class="button" (click)="filter = 'Arms'">Arms</a>
    <a class="button" (click)="filter = 'Torsos'">Torsos</a>
    <a class="button" (click)="filter = 'Bases'">Bases</a>
    <a class="button" (click)="filter = ''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <!-- This component listens to childs buy event,
       and then triggers cusotm function to proceed with adding emited data to cart.
       since u already know that li is rendered with current product object,
       no need to emit same object again from buy event. just reuse product from the loop -->
      <bot-product-details
        [product]="product"
        (buy)="addToCart(product)"
      ></bot-product-details>
    </li>
  </ul>
</div>
